<% provide(:title, "About") %>
  <h1><%= t "static_pages.about.name" %></h1>
  <p>
    <%= t "static_pages.about.the" %> <%= link_to t("static_pages.about.ror"),
     "https://www.railstutorial.org/" %>
    <%= t "static_pages.about.is_a" %> <%= link_to t("static_pages.about.book"),
     "https://www.railstutorial.org/book" %> <%= t "static_pages.about.and" %>
    <%= link_to t("static_pages.about.screencast_series"),
     "http://screencasts.railstutorial.org/" %>
    <%= t "static_pages.about.t_t_W_d_w" %>
    <%= link_to "Ruby on Rails", "http://rubyonrails.org/" %>.
    <%= t "static_pages.about.aplication_tutorial" %>
  </p>
