<h1><%= t "mail.password_reset.subject" %></h1>
<p><%= t "mail.password_reset.text_p1" %></p>
<%= link_to t("mail.password_reset.subject"),
  edit_password_reset_url(id: @user.reset_token, email: @user.email) %>
<p><%= t "mail.password_reset.text_p2" %>.</p>
<p><%= t "mail.password_reset.text_p3" %>.</p>
